* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    box-sizing: border-box;
}

.header-container {
    height: 45px;
    background-color: white;
}

.header-left-container {
    float: left;
    width: 33.3%;
    padding: 5px 5px;
    height: 45px;
    
}

.header-left-container i {
   vertical-align: middle;
}

.header-left-container a {
    vertical-align: middle;
}


.header-center-container {
    float: left;
    width: 33.3%;
    text-align: center;
     height: 45px;
}

.header-center-container a {
    vertical-align: middle;

}

.header-right-container {
    text-align: right;
    float: left;
    width: 33.3%;
     height: 45px;
}

.header-right-container a, button {
    vertical-align: bottom  ;
}


.ny-times-main-logo {
    width: 200px;
    vertical-align: middle;

}

.space-cosmos-text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a {
    display: inline-block;
}

.main-title {
    height: 96px;
}

.main-image {
    text-align: center;
}

.main-image img {
    min-width: 600px;
    max-width: 1004px;
    width: 84vw;
}