* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    background-color: #f4f4f4;
    font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
}

.header-container {
    height: 45px;
    background-color: white;
}

.header-left-container {
    float: left;
    width: 33.3%;
    padding: 5px 5px;
    height: 45px;
}

.header-left-container i {
    vertical-align: middle;
}

.header-left-container a {
    vertical-align: middle;
}


.header-center-container {
    float: left;
    width: 33.3%;
    text-align: center;
    height: 45px;
}

.header-center-container a {
    vertical-align: middle;
}

.header-right-container {
    text-align: right;
    float: left;
    width: 33.3%;
    height: 45px;
}

.header-right-container a,
button {
    vertical-align: bottom;
}


.ny-times-main-logo {
    width: 200px;
    vertical-align: middle;
}

.space-cosmos-text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.subscribe-button {
    text-decoration: none;
    color: white;
    background-color: #5995DA;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 170px;
}

.login-button {
    text-decoration: none;
    color: white;
    background-color: #5995DA;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
}

a {
    display: inline-block;
}

.main-title {
    height: 96px;
}

.main-image img {
    width: 100%;
}

.img-caption-wrap {
    min-width: 600px;
    max-width: 1004px;
    width: 84vw;
    margin: 0 auto;
}

.heading-container {
    height: 96px;
}

.main-heading {
    width: 20vw;
    margin: 10px auto;
}

.main-heading h1 {
    text-align: center;
    color: #121212;
    font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9375rem;
    line-height: 2.25rem;
}

.main-caption-container {
    max-width: 840px;
}

.main-caption-text {
    font-size: 0.88em;
}

.copyright-caption {
    font-size: 0.73em;
}

.social-media {
    position: relative;
}

.social-media-links li {
    display: inline;
    margin: 0 10px;
}


.social-media-links img {
    width: 18px;
}


.social-media-links {
    display: inline;
    list-style-type: none;
    position: relative;
}

.above-article {
    position: absolute;
    right: 1px;
}

.blog-text-area {
    width: 600px;
    margin: 0 auto;
}

aside {
    /* float: right; */
    position: absolute;
    width: 210px;
    top: 80em;
    left: 73%;
}

@media(max-width:1350px) {
    article img {
        display: none;
    }

    .side-bar {
        width: calc(100% - 85px);
    }
}

@media(max-width:1300px) {
    .side-bar {
        display: none;
    }
}


article img {
    float: left;
    width: 75px;
}

article h3 {
    font-size: 14px;
    padding-left: 10px;
}

.line {
    border-bottom: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
}

.article-container {
    width: 600px;
}



.lower-text-3 {
    width: 945px;
    position: relative;
    left: -172.5px;
    margin: 20px 0;
}

.lower-text-3 p {
    font-size: 14px;
    margin-bottom: 0px;
}

.inflation-image {
    height: 576px;
    width: 100%;
    position: relative;
}

.social-icons {
    position: relative;
    left: 420px;
    display: inline-block;
}

.social-button {
    position: absolute;
    width: 330px;
    height: 36px;
    background-color: #567b95;
    color: #ffffff;
    padding: 10px 0;
    border: 1px solid rgb(50, 104, 145);
    font-family: 'nyt-franklin', helvetica, arial, sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
}

.social-bar {
    margin-bottom: 60px;
}

.signup-bar {
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    font-family: 'nyt-franklin', helvetica, arial, sans-serif;
}

.left-side-sb {
    float: left;
    width: 48%;
}

.right-side-sb {
    float: right;
    width: 48%;
}

.left-side-sb h3 {
    margin-bottom: 10px;
}

.privacy-contact {
    font-size: 10px;
    margin-bottom: 45px;
}

.accept-terms {
    margin-bottom: 30px;
}

.accept-terms input,
span {
    vertical-align: middle;
}

.signup-email {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.signup-submit {
    position: absolute;
    right: 0;
    width: 175.5px;
    height: 40px;
    background-color: #567b95;
    color: #fff;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
}

.accept-terms span {
    font-size: 14px;
    color: #999999;
}

.blog-text-area {
    font-size: 20px;
}

.blog-text-area p {
    margin-bottom: 15px;
}

.inflation-textboxes {
    width: 228px;
    font-family: 'nyt-franklin', Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 36%;
    left: 0.0436%;
}

.not-enough-time {
    left: 25%;
}

.distant-coffee {
    left: 50%;
}

.coffee-everywhere {
    left: 75%;
}

.still-not-enough-time {
    top: 76%;
}

.inflation {
    top: 76%;
    left: 25%;
}

.fluctuation {
    top: 76%;
    left: 50%;
}

.expansion {
    top: 76%;
    left: 75%;
}

.bottom-articles {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.more-articles-container {
    /* width: 100%; */
    overflow: hidden;
}

.article img {
    width: 100%;
}

.editor-pick-panel {
    /* width: 100%; */
    overflow: hidden;
    background-color: pink;
}

.article {
    float: left;
    width: 31%;
    margin: 10px 1.15%;
}

.article figcaption {
    text-align: right;
    font-size: 10px;
}

.article-wrap {
    float: left;
    max-width: 70%;
    margin-right: 1.5%;
}

.side-bar-pop {
    float: left;
    width: 28%;
    background: green;
}

.article-link {
    margin-left: 1.15%;
}

.footer-section {
    margin-top: 20px;
}

.ny-times-footer-img {
    width: 200px;
}

.footer-section {
    width: 85%;
    margin: 0 auto;
}

.footer-header {
    position: relative;
}

.homepage-link {
    position: absolute;
    right: 0;
    bottom: 0;
}

.links-wrapper {
    overflow: hidden;
    width: 100%;
}

.left-side-links-container {
    width: 80%;
    float: left;
    background: pink;
}

.footer-links {
    float: left;
    width: 20%;
}

.footer-links li {
    list-style: none;
}

.legal-footer {
    clear: both;
}